<html>
<head>
    <title><%= title %></title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
<% if(typeof navigation==='undefined' || navigation!==false) { %>
    <nav>
        <ul>
            <li><a href="<%= self.urlFor('pages', 'home') %>">Home</a></li>
        </ul>
        <!--<form action="<%-self.urlFor('api/users','signout', null, 'GET')%>" method="get">
            <button>Sign out</button>
        </form>-->
    </nav>
<%}//endif%>
<%- body %>
</body>

</html>