html {
    overflow: hidden;
    height: 100%;
}

.video-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

#selfVideo{
    position: fixed;
    bottom: 3%;
    right: 2%;
    width: 350px;
    height: 250px;
}
