html {
    height: 100%;
}


/*
video chat
*/
video {
    width: 320px;
    height: 280px;
}

.videoDiv {
    width: 350px;
    height: 320px;
    background-color: black;
    margin: 6px;
}

video[name= selfStream] {
    position: fixed;
    bottom: 3%;
    left: 2%;
    width: 200px;
    height: 260px;

}

span {
    color: white;
}

#videoTest {
    position: fixed;
    bottom: 3%;
    left: 2%;

}


* {
    /*margin: 0;*/
    padding: 0;
    box-sizing: border-box;
}

/* chat*/


#nameDiv {
    display: none;
}




#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}

#serverError {
    color: darkred;
}



.room-button:disabled {
    background-color: darkgray;
    cursor: auto;

}

.buttons-onload-room {
    display: none;
}



#nameDiv {
    color: white;
}


/*
for toggling
*/
#leaveTheRoom {
    display: none;
}

#enterTheRoom {
    display: block;
}


/*
bootstrap
*/

.col-md-8 {
    margin-top: 5%;
}

.custom-navbar, .btn-custom {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.nav-item {
    font-size: 19px;
}

.navbar-brand {
    padding-top: .4200rem;
}