<!DOCTYPE html>
<html>
<head>
    <title>Duplex</title>
    <meta charset="UTF-8"/>
    <link href="/styles.css" rel="stylesheet">
</head>


<body>
<script>
  const roomId = "<%= roomId %>"
</script>

<video id="selfStream" controls="false" playsinline muted autoplay ></video>
<br>
<button onclick="addMediaTrack(false, true)" id="enable-audio">Audio on</button>
<button onclick="addMediaTrack(true, false)" id="enable-audio">Video on</button>
<button onclick="removeMediaTrack('audio')" id="enable-audio">Audio off</button>
<button onclick="removeMediaTrack('video')" id="enable-audio">Video off</button>

<button onclick="enter('audio')" id="enable-audio">Check</button>

<br>
<div id="foreignVideoContainer" class="video-container">

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/script/helper.js"></script>
<script src="/script/peerConnectionHandler.js"></script>
</body>
</html>

