<h3>Welcome To Griffin!</h3>

<p id="serverError"></p>


<div id="link-container">
    Get link for new video conference
    <form id="newRoomForm" action="<%=self.urlFor('api/rooms', 'newRoom', null, 'post')%>" method="post">
        <label>Number of participants: </label>
        <select id="participantsNum">
            <option value="peer">Less than 4</option>
            <option value="kurento">More than 4</option>
        </select>
        <button id="submitNewRoom">Get</button>
    </form>
    <p id="uuid"></p>
</div>

<script src="script/apiUsers/helper.js"></script>
<script src="script/apiRooms/newRoom.js"></script>
