<h1 class="text-center pt-3">Welcome To Griffin!</h1>

<div class="container">
    <div class="row justify-content-center align-items-center" style="height:80vh">

        <div class="col-7  shadow p-3 mb-5 bg-white rounded">
            <div class="card">
                <div class="card-body" >
                    <p id="serverError"></p>
                    <div id="link-container">
                        Get link for new video conference
                        <form id="newRoomForm" action="<%=self.urlFor('api/rooms', 'newRoom', null, 'post')%>" method="post">
                            <label>Number of participants: </label>
                            <select id="participantsNum">
                                <option value="peer">Less or equal to <%-config.maxUsersNumberPeerConnection%></option>
                                <option value="kurento">More than <%-config.maxUsersNumberPeerConnection%></option>
                            </select><br>
                            <button class="btn btn-primary submit-new-room" data-toggle="button" aria-pressed="false" autocomplete="off" id="submitNewRoom">Get Link</button>
                        </form>
                        <p class="pt-1" id="uuid"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="script/apiUsers/helper.js"></script>
<script src="script/apiRooms/newRoom.js"></script>
