<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

</head>

<body>

<h3>Welcome To Griffin!</h3>
<div id="link-container">
    Get link for new video conference
    <button onclick="getUuid()">Get</button>
</div>

<script src="/socket.io/socket.io.js"></script>
</body>

</html>
<script>
	function getUuid() {

		const socket = io.connect(window.location.origin);
		socket.emit('uuid');
		socket.on('uuid', (uuid) => {
			let p = document.createElement('p');
			p.innerText = window.location.href + 'room/' + uuid;
			document.getElementById('link-container').appendChild(p);
		});
	}

</script>
