

<h3>Welcome To Griffin!</h3>
<div id="link-container">
    Get link for new video conference
    <button onclick="getUuid()">Get</button>
</div>

<script src="/socket.io/socket.io.js"></script>

