<div class="signin-wrapper">
    <form id="signin-form"action="api/users/login')%>" method="POST">

        <div class="input-wrapper">
            <label for="email">E-Mail</label>
            <input id="email" name="email" type="email" placeholder="E-Mail Address"/><br>
        </div>
        <div class="input-wrapper">
            <label for="password">Password</label>
            <input id="password" name="password" type="password" placeholder="Password"/>
        </div>
        <div class="button-wrapper">
            <button onclick="submitPressed(this); return false;">Login</button>
        </div>

    </form>
</div>