<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Register</div>
                <div class="card-body">
                    <p id="serverError"></p>

                    <form id="registerForm" action="<%- self.urlFor('api/users', 'register', null, 'post') %>" method="post">

                        <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label">Your Name</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" placeholder="Enter First Name" name="firstName" id="firstName" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label">Your Name</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" placeholder="Enter Last Name" name="lastName" id="lastName" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="cols-sm-2 control-label">Your Email</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                    <input type="email" class="form-control" placeholder="Enter Email" name="email" id="email" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="cols-sm-2 control-label">Password</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input type="password" class="form-control" placeholder="Enter Password" name="password" id="password" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input type="password" class="form-control" placeholder="Repeat Password" name="repeatPassword" id="repeatPassword" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <button class="btn btn-primary btn-lg btn-block login-button" id="submitRegister" type="submit">Register</button>
                        </div>
                        <div class="login-register">
                            <p>Already have an account? <a href="<%= self.urlFor('pages', 'login')%>">Login</a>.</p>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="script/apiUsers/helper.js"></script>
<script src="script/apiUsers/register.js"></script>