<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <link href="/styles.css" rel="stylesheet">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon"/>
</head>


<body>

<script>
    if (typeof participantsNumber!==null){
	    var participantsNumber = "<%= participantsNumber %>"
    }
	var roomId = "<%= roomId %>"
</script>
<div class="split left">
    <video name="selfStream" controls="false" playsinline muted autoplay></video>
    <video id="videoTest" controls="false" playsinline muted autoplay></video>
    <br>
    <p id="fullName"></p>
    <button id="audioOn" onclick="addMediaTrack('audio')" id="enable-audio">Audio on</button>
    <button id="videoOn" onclick="addMediaTrack('video')" id="enable-audio">Video on</button>
    <button id="audioOff" onclick="removeMediaTrack('audio')" id="enable-audio">Audio off</button>
    <button id="videoOff" onclick="removeMediaTrack('video')" id="enable-audio">Video off</button>


    <button id="enterTheRoom" onclick="requestForModerator()" id="enable-audio">Enter the room</button>
    <button id="leaveTheRoom" onclick="leaveRoom()" id="leaveRoom">Leave the room</button>

    <br>
    <div id="nameDiv">
        <label for="fullName">Full Name: </label>
        <input name="fullName"/><br>

    </div>

    <br>
    <div id="foreignVideoContainer" class="video-container">

    </div>
</div>
<div class="split right">
    <ul id="messages"></ul>
    <form action="">
        <input id="message" autocomplete="off"/>
        <button onclick="sendMessageInChat();return false;">Send</button>
    </form>
</div>
<script src="/script/roomScriptAppender.js"></script>
</body>
</html>
