<!DOCTYPE html>
<html>
<head>
	<title>Viewer</title>
	<meta charset="UTF-8"/>
	<link href="/styles.css" rel="stylesheet">
</head>

<body>
<video id="myVideo" playsinline muted autoplay controls="false"></video>

<script defer src="/socket.io/socket.io.js"></script>
<script defer src="/watch.js"></script>
</body>
</html>

